# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Node.js
node_modules/
.env
dist/
*.log

*checkpoints/
uploads/
results/
*.db
.benchmarks/
.pytest_cache/
tp*/
*model*.pth
*.pt
*.json
.claude/
CLAUDE.md
*run/
*_output/
ignore_*.*
*_ignore/
diagnostic_*.py

# System files
.DS_Store